.scoreboard {
	width: 720px;
	height: 50px;
	margin: 0 auto;
}

.board {
	table-layout: fixed;
	width: 720px;
	border: 1px solid #aaa;
	margin: 0 auto;
}

.board td {
	width: 30%;
}

/* Mobile size overrides */
@media (max-width: 768px) {
	.scoreboard {
		width: 92%;
	}
	.board {
		width: 92%;
	}
}